---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Welcome to My World</h1>
    <section>
      <h2>About Me</h2>
      <p>Hey there! I'm Jimmy Nguyen, and I'm thrilled to have you here on my blog. This is my digital canvas where I paint the colors of my life, experiences, and thoughts.</p>
    </section>
    <section>
      <h2>A Bit About Me</h2>
      <p>I'm an avid explorer, a perpetual learner, and a seeker of the extraordinary in the ordinary. My journey through life has led me to fascinating places, both physical and mental, and I can't wait to share my discoveries with you.</p>
    </section>
    <section>
      <h2>The Programmer's Perspective</h2>
      <p>In addition to my passion for exploration, I'm also a seasoned programmer. I've spent countless hours in the world of code, crafting solutions to intricate problems and building digital wonders. Here on my blog, you'll find a blend of my programming insights, tech adventures, and the latest developments in the world of software.</p>
    </section>
    <section>
      <h2>What You'll Find Here</h2>
      <p>This blog is my creative outlet, and you can expect to find a diverse range of topics. From my adventures in far-flung destinations to my musings on personal growth, technology, and everything in between, this space is where I pour my passions.</p>
    </section>
    <section>
      <h2>Let's Connect</h2>
      <p>I believe that life is all about connections. So, let's embark on this journey together! Feel free to reach out, comment, or connect with me on social media. Your insights and experiences are invaluable, and I can't wait to hear from you.</p>
    </section>
    <section>
      <p>Thank you for stopping by, and I hope you find inspiration, entertainment, and maybe a new perspective on life right here on my blog.</p>
      <p>Cheers to new beginnings and exciting adventures ahead!</p>
      <p>Jimmy Nguyen</p>
    </section>
	</div>
</PageLayout>
